<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product list</title> 
    </head>
    
    <body>
  <form th:action="@{~/product/remove}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{Id}">
    <table class="table">
    <tr>
    	<td>Product Name : </td>
    	<td th:text="${product.name}"></td>
    
    </tr>
    <tr>
    	<td>Price        :</td>
    	<td th:text="${product.price}"></td>
    
    </tr>
    <tr>
    	<td>Stock        :</td>
    	<td th:text="${product.stock}"></td>
    
    </tr>
    <tr>
    	<td>Category Id :</td>
    	<td th:text="${product.variant_id}"></td>
    
    </tr>
    <tr>
    	<td align="right" colspan="2" ><input type="submit" value="Remove product" class="btn btn-danger"></td>
    </tr>
  
    </table>
    
   </form>
  	<tr>
    
  	</tr>
    </html>
    