<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product list</title> 
    </head>
    
    <body>
    <form th:action="@{~/product/save}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{Id}">
    <table class="table">
    <tr>
    	<td>Product Name</td>
    	<td><input type="text" th:field="*{name}" class="from-control" size="40"></td>
    
    </tr>
    <tr>
    	<td>Price</td>
    	<td><input type="text" th:field="*{price}" class="from-control" size="40"></td>
    
    </tr>
    <tr>
    	<td>Stock</td>
    	<td><input type="text" th:field="*{stock}" class="from-control" size="40"></td>
    
    </tr>
      <tr>
    <td>Category ID</td>
    <td><select class="form-control" th:field="*{variant_id}">
    <option th:each="t : ${variant}" th:text="${t.variant_name}" th:value="${t.id}" ></option>
    </select></td>
	</tr>
    
  <tr>
    	<td align="right" colspan="2" ><input type="submit" value="save product" class="btn btn-primary" ></td>
    </tr>
  
    </table>
    
    </form>
    
  	<tr>
  	</tr>
    </html>
    