<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Variant list</title> 
    </head>
    
    <body>
  <form th:action="@{~/variant/remove}" method="post" th:object="${variant}">
    <input type="hidden" th:field="*{Id}">
    <table class="table">
    <tr>
    	<td>Variant Name : </td>
    	<td th:text="${variant.variant_name}"></td>
    
    </tr>
    <tr>
    	<td>Category Id  :</td>
    	<td th:text="${variant.category_id}"></td>
    
    </tr>
    <tr>
    	<td align="right" colspan="2" ><input type="submit" value="Remove variant" class="btn btn-danger"></td>
    </tr>
  
    </table>
    
   </form>
  	<tr>
    
  	</tr>
    </html>
    