<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Variant list</title> 
    </head>
    
    <body>
    <form th:action="@{~/variant/save}" method="post" th:object="${variant}">
    <input type="hidden" th:field="*{Id}">
    <table class="table">
    <tr>
    	<td>Variant Name</td>
    	<td><input type="text" th:field="*{variant_name}" class="from-control" size="40"></td>
    
    </tr>
   
    <tr>
    <td>Category ID</td>
    <td><select class="form-control" th:field="*{category_id}">
    <option th:each="t : ${category}" th:text="${t.name}" th:value="${t.id_category}" ></option>
    </select></td>
	</tr>
    
    <tr>
    	<td align="right" colspan="2" ><input type="submit" value="save product" class="btn btn-primary" ></td>
    </tr>
  
    </table>
    
    </form>
    
  	<tr>
  	</tr>
    </html>
    