<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Variant list</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
     <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <script th:src="@{/jquery.min.js}"></script>
    <script th:src="@{/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <style>
    html{
    	margin:15px;
    }
    </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Xsis Academy</a>
 
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/index">HOME</a>
    </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        MASTER
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/product/index">PRODUCT</a>
        <a class="dropdown-item" href="/variant/index">VARIANT</a>
        <a class="dropdown-item" href="/category/index">CATEGORY</a>
      </div>
    </li>
 
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        TRANSAKSI
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Sub Menu 1</a>
        <a class="dropdown-item" href="#">Sub Menu 2</a>
        <a class="dropdown-item" href="#">Sub Menu 3</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/detail">DETAIL </a>
    </li>
  </ul>
</nav>
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mytitel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalbody">
        ...
      </div>
     
    </div>
  </div>
</div>
<br><center><font color="#000000" size="6" face="Century Gothic" style="font-weight:bold">MASTER VARIANT</font></center></br>

    <br>
    <button  type="button" class="btn btn-primary" onclick="addform()">+TAMBAH DATA</button>
   
    </br>
    <br>
    <table bgcolor="#000000" id="variant" clas="display" width : 100% >
    <thead>
    <tr>
    	<td><font color="#ffffff">VARIANT NAME</td></font>
    	<td><font color="#ffffff">CATEGORY ID</td></font>
    	<td><font color="#ffffff">EDIT</td></font>
    	<td><font color="#ffffff">DELETE</td></font>
    	
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${variant}">
    	<td th:text="${item.variant_name}"></td >
    	<td th:text="${item.categorymodel.Name}"></td >
    	<td><button class="btn btn-warning" th:value="${item.Id}" onclick="gotoedit(this.value)">Edit</button></td>
    	<td><button class="btn btn-danger" th:value="${item.Id}" onclick="gotodelete(this.value)">Delete</button></td>
    </tr>
    </tbody>
    
    </table>
    </br>
    <script>
    $(document).ready(function() {
        $('#variant').DataTable();
    } );
    function gotoedit(id){
    	
    	$.ajax({
    		type:'get',
    		url:'/variant/edit/'+id,
    		datatype:'html',
    		success:function(data){
    			document.getElementById('modalbody').innerHTML = data;
    			document.getElementById('mytitel').innerHTML = "Form Edit Variant";
    			$('#mymodal').modal();
    		}
    	})
    }
    function gotodelete(id){
    	
    	$.ajax({
    		type:'get',
    		url:'/variant/delete/'+id,
    		datatype:'html',
    		success:function(data){
    			document.getElementById('modalbody').innerHTML = data;
    			document.getElementById('mytitel').innerHTML = "Form Delete variant";
    			$('#mymodal').modal();
    		}
    	})
    }
    function addform(){
    	console.log("here");
    	$.ajax({
    		type:'get',
    		url:'/variant/form',
    		datatype:'html',
    		success:function(data){
    			document.getElementById('modalbody').innerHTML = data;
    			document.getElementById('mytitel').innerHTML = "Form Tambah Variant";
    			$('#mymodal').modal();
    		}
    	})
    }
    </script>
  
    </body>


</html>