<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Category list</title> 
    </head>
    
    <body>
  <form th:action="@{~/category/remove}" method="post" th:object="${category}">
    <input type="hidden" th:field="*{id_category}">
    <table class="table">
    <tr>
    	
    	<td>CATEGORY NAME  : </td>
    	<td th:text="${category.name}"></td>
    
    </tr>
    <tr>
    	<td align="right" colspan="2" ><input type="submit" value="Remove product" class="btn btn-danger"></td>
    </tr>
  
    </table>
    
   </form>
  	<tr>
    
  	</tr>
    </html>
    