<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
     <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
      <title>category list</title>
      <style>
     html{
    	margin:10px;
    }
    </style>
    </head>
    <script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/3.4.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/sweet.min.js}"></script>
    <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin:15px">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Xsis Academy</a>
 
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index">HOME</a>
    </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        MASTER
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/product/index">PRODUCT</a>
        <a class="dropdown-item" href="/variant/index">VARIANT</a>
        <a class="dropdown-item" href="/category/index">CATEGORY</a>
      </div>
    </li>
 
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        TRANSAKSI
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Sub Menu 1</a>
        <a class="dropdown-item" href="#">Sub Menu 2</a>
        <a class="dropdown-item" href="#">Sub Menu 3</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/detail">DETAIL </a>
    </li>
  </ul>
</nav>
   		
	<div class="container-fluid">
		<div class="row">
			
			<!-- place your page inner tag main -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h1 class="h2">DETAIL</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button class="btn btn-sm btn-outline-secondary"
								data-toggle="modal" data-target="#addCategory">New</button>
							<button class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th>Category Name</th>
									<th>Name Variant</th>
									<th></th>
									<th>name Product</th>
								</tr>
							</thead>
							<tbody id="category_body">

							</tbody>
						</table>
					</div>
				</div>
				
				<!-- Modal add -->
				<div class="modal fade" id="addCategory" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">Add Category</h3>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="formCategory">
									
									<div class="form-group">
										<label for="name">Name :</label><br> <input
											class="form-control" type="text" id="name" name="name"
											placeholder="input name">
									</div>
									
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" id="saveBtn" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.modal Edit-->
				<div class="modal fade" id="editCategory" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">Edit Category</h3>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="formCategory">
									<div class="form-group">
										<label for="title">Category Id :</label><br> <input
											class="form-control" type="text" id="editId"
											name="editId" disabled="disabled">
									</div>
									
									<div class="form-group">
										<label for="name">Name :</label><br> <input
											class="form-control" type="text" id="editName" name="name"
											placeholder="input name">
									</div>
									
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" id="editBtn" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.modal -->
				

			</main>
			<!-- end place your page inner tag main -->
		</div>
	</div>

    </body>
     <script>
    var apiCategory = "api/category/"
    $(()=> {
    	console.log('hello');
    	 onLoadApi();
    	 
    });
//save    
    $("#saveBtn").click(function() {
		let data ={
				name : $("#name").val() 
		}
		
		//alert(JSON.stringify(data));
		$.ajax({
			url : 'api/category/add',
			type : 'post',
			contentType : 'application/json',
			data: JSON.stringify(data),
			success: (respond) =>{
				//alert('Data has been save');
				onLoadApi();
				$('#addCategory').modal('hide');
				
				Swal.fire({
	           		  position: 'top-center',
	           		  icon: 'success',
	           		  width: 600,
	           		  title: 'Your work has been saved',
	           		  showConfirmButton: false,
	           		  timer: 1500
	           		});
				
			},
			error:()=>{
				console.log('Failed to save data');
			}
		})
	});
	
    $("#editBtn").click(function() {
		let data ={
				id_category : $("#editId").val(),
				name : $("#editName").val() 
		}
		
		//alert(JSON.stringify(data));
		 $.ajax({
			url : 'api/category/put',
			type : 'put',
			contentType : 'application/json',
			data: JSON.stringify(data),
			success: (respond) =>{
				//alert('Data has been save');
				onLoadApi();
				
				$('#editCategory').modal('hide');
				
				Swal.fire({
           		  position: 'top-center',
           		  icon: 'success',
           		  width: 600,
           		  title: 'Your work has been saved',
           		  showConfirmButton: false,
           		  timer: 1500
           		});
				
			},
			error:()=>{
				console.log('Failed to save data');
			}
		}) 
	});




    onLoadApi=()=>{
    	$.ajax({
    		url: apiCategory,
    		type: 'get',
    		contentType: 'application/json',
    		success : (respond) =>{
    			console.log(respond);
    			generateTable(respond);
    			
    		},
    		error:()=>{
    			console.log('failed to fecth data');
    		}
    	});
    }
	editAction=(e)=>{
		//alert(e.value);
		
		$.ajax({
            url:'api/category/'+e.value,
            type: 'get',
            contentType: 'application/json',
            success:(res)=>{
            	 $('#editId').val(res.id_category)
                $('#editName').val(res.name)
                
               
            },
            error: ()=>{
                console.log("error fetch data")
            }
        })
	}
    generateTable=(resdata)=>{
    	var tr;
    	var vari = [];
    	var proname = [];
    	$('#category_body').html('');
    	resdata.map((res)=>{
    		tr = $('<tr/>');
    		 var actions = '<div class="input-group-btn">' +
             '            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action' +
             '                <span class="fa fa-caret-down"></span></button>' +
             '            <ul class="dropdown-menu">' +
             '                <li onclick="editAction(this)" value='+res.id_category+' data-toggle="modal" data-target="#editCategory"><a href="#">Edit</a></li>' +
             '                <li onclick="deleteAction(this)" value='+res.Id_categorty+'><a href="#">Delete</a></li>\n' +
             '            </ul>\n' +
             '        </div>';
           
    		tr.append("<td>"  +res.name+"</td>");
    		
    		res.variantmodel.map((vari)=>{
  
    			tr.append("<li>" + vari.variant_name + "</li>");
    			tr.append("<td>");
    			vari.productmodel.map((pro)=>{
    				tr.append("<tr>");
    				tr.append("<li'>"+"* " + pro.name + "</li>");

    			});//loopprodut
    		});//loop variant
    		
    		


		//	$(".vari:parent").wrapInner("<ol>")
			
    	//	$(".vari").wrapInner("<td/>");
		
		tr.append("<td>" + actions+ "</td>");
    		
    		$("#category_body").append(tr);
    		
    	})//loopdata
    }
    </script>
    </html>
    