<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product list</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
     <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <script th:src="@{/jquery.min.js}"></script>
    <script th:src="@{/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <style>
    html{
    	margin:15px;
    }
    </style>
    </head>
    <body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Xsis Academy</a>
 
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index">HOME</a>
    </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        MASTER
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/product/index">PRODUCT</a>
        <a class="dropdown-item" href="/variant/index">VARIANT</a>
        <a class="dropdown-item" href="/category/index">CATEGORY</a>
      </div>
    </li>
 
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        TRANSAKSI
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Sub Menu 1</a>
        <a class="dropdown-item" href="#">Sub Menu 2</a>
        <a class="dropdown-item" href="#">Sub Menu 3</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/detail">DETAIL </a>
    </li>
  </ul>
</nav>


<br>
</body>
    </html>
    